<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="python3" version="3.8.3" packageParameters="/InstallDir:C:\Program Files (x86)\Python38-32" forceX86="true"/>
    <package id="jre8" />
    <package id="git" />
    <package id="visualstudio2022-workload-vctools" />
</packages>